.HyperMD-codeblock > * {
  font-family: "SauceCodePro NF";
}

.theme-dark {
  --code-highlight: #fc4384;
  --active-line: rgba(128, 39, 63, 0.5);
	
  /*--text-accent: #df2222; */
  /* --text-header-color: #da831c; */
}
/*
.internal-link {
  color: var(--text-accent);
}
*/
.CodeMirror pre.CodeMirror-line {
  font-size: 16px;
  /* font-family: "Fira Code", "Source Code Pro", monospace; */
}

/* 現在行の強調 */
.CodeMirror-activeline {
  background-color: var(--active-line);
}


/* inline codeのコントラストを上げる */
.cm-s-obsidian span.cm-inline-code {
  color: var(--code-highlight);
}
.cm-header-1 {
  font-size: 25px;
  color:var(--text-header-color);

}
/* 見出し2は下線で強調 */
.cm-header-2{
	
  font-size: 21px;
  color:var(--text-header-color);
  border-bottom: 2px solid;
}

/* 見出し3は下線でやや強調 */
.cm-header-3 {
  font-size: 1.17em;
  border-bottom: 2px dashed var(--text-muted);
  color:var(--text-header-color);
}

/* 見出し4は下線ですこし強調 */
.cm-header-4 {
  font-size: 16px;
  border-bottom: 2px dotted var(--text-muted);
  color:var(--text-header-color);
}

.cm-header-5 {
  font-size: 16px;
  color:var(--text-header-color);
}

/************************
/* プレビュー
************************/

.markdown-preview-view {
  font-size: 16px;
}

/* Nerd Fontに対応 */
.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"] {
  --font-monospace: "SauceCodePro NF";
}
.markdown-preview-view code,
.markdown-preview-view pre {
  background: var(--background-secondary);
  color: var(--code-highlight);
  font-family: "SauceCodePro NF";
}

/* Markdownの画像サイズがPreview画面だと width: 50% で固定されてしまうため */
/* .markdown-preview-view img { */
/*   width: inherit; */
/* } */

/* Enlarge image on hover */
.markdown-preview-view img {
  display: block;
	margin-top: 20pt;
	margin-bottom: 20pt;
	margin-left: 15px;
	margin-right: auto;
	/* width: 200px; /*experiment with values*/*/
	height: 80%; /*experiment with values*/
	width: 300px; /*experiment with values*/
	transition: transform 0.25s ease;
	/* height: 150px; /*experiment with values*/*/
	transition: transform 0.25s ease;
	overflow: hidden;
}

.markdown-preview-view img:hover {
	-webkit-transform: scale(3) translate(80px); /* experiment with values */
	transform: scale(3) translate(80px);
	/* -webkit-transform: translate(80px); */
	
}

.markdown-preview-view h1 {
	color:var(--text-header-color);
}
.markdown-preview-view h2 {
  color:var(--text-header-color);
  margin-top: 1.5em;
  margin-bottom: 1rem;
  border-bottom: 2px solid;
	font-size: 23px;
	/* border-left: solid 5px #dde2e6; */
	padding: .2em 0 .2em .5em;
}

/* 見出し3は下線でやや強調 */
.markdown-preview-view h3 {
  color:var(--text-header-color);
  margin-top: 1.5em;
  margin-bottom: 1rem;
  border-bottom: 2px dashed var(--text-muted);
  font-size: 1.17em;
}

/* 見出し4は下線ですこし強調 */
.markdown-preview-view h4 {
    color:var(--text-header-color);
/*  display: inline-block;*/
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: -9px;
  margin-left: 13px
}

.markdown-preview-view h5 {
/*  display: inline-block;*/
/*  margin-top: 10px;*/
  font-size: 16px;
}

.nav-file-title-content::before {
  content: "🗒 ";
}
.nav-folder-title-content::before {
  content: "📂 ";
}
